@import "positions.css";
@import "borders.css";
@import "fonts.css";
@import "misc.css";
@import "print.css";
#loginContent {
    color: #ffffff;
    background: url("../img/theme/dash/dash-stripe.png") repeat scroll 0 0 #700070;
}
#loginContent h1 {
    color: #ffffff;
}
#loginContent a {
    color: #cccccc;
}
#loginContent input, #loginContent select {
    background-color: #800080;
    color: #ffffff;
}
#loginContent #loginFormContainer #loginButton {
    background-color: #F7F5F1;
    color: #ffffff;
}
#loginContent #errorContainer {
    color: #FFFFFF;
}
#content {
    background: url("../img/theme/dash/dash-stripe.png") repeat scroll 0 0 #700070;
    color: #FFFFFF;
}
#content h1 {
    color: #ffffff;
}
#content a {
    color: #DDDDDD;
}
#content input, #content select, #content textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
}
#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer, #content #bbCodeContainer, #content #colorCodesContainer, #content #emoticonsContainer, #content #poniconContainer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-color: #1B1B1F;
}
#content #bbCodeContainer input, #content #logoutButton, #content #submitButton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}
#content #colorCodesContainer a {
    border-color: #1d1d1d;
}
#content #optionsContainer input {
    background-color: transparent;
}
#content #optionsContainer #helpButton {
    background: url("../img/help.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #settingsButton {
    background: url("../img/settings.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #onlineListButton {
    background: url("../img/users.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #audioButton {
    background: url("../img/audio.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #audioButton.off {
    background: url("../img/audio-off.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #autoScrollButton {
    background: url("../img/autoscroll.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #poniconButton {
    background: url("../img/ponicons.png") no-repeat scroll 0 0 transparent;
}
#content #optionsContainer #autoScrollButton.off {
    background: url("../img/autoscroll-off.png") no-repeat scroll 0 0 transparent;
}
#content .rowEven {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}
#content .rowOdd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
#content .guest {
    color: gray;
}
#content .user {
    color: #FFFFCC;
}
#content .moderator {
    color: #5BBB47;
}
#content .admin {
    color: #EE3F44;
}
#content .chatBot {
    color: #F4F4AE;
}
#content #chatList .chatBotErrorMessage {
    color: red;
}
#content #chatList a {
    color: #CCCCCC;
}
#content #chatList .delete {
    background: url("../img/delete.png") no-repeat scroll right center transparent;
}
#content #chatList .deleteSelected {
    border-color: red;
}
#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
    background: rgba(0,0,0,0.1);
    color: #32CD32;
}
#content #settingsContainer #settingsList input.playback {
    background: url("../img/playback.png") no-repeat scroll 0 0 transparent;
}
#content #onlineListContainer #onlineList, #content #helpContainer #helpList, #content #settingsContainer #settingsList, #content #settingsContainer #poniconList {
    background: url("../img/theme/dash/cutie-dash.png") no-repeat bottom;
}