#content span.user-alt-jid,
#content.display-jid span.user-alt-nick {
  display:none;
}

#content span.user-alt-nick,
#content.display-jid span.user-alt-jid {
  display:inline;
}

#content .user {
  font-weight: bold;
}
#content .user.user-affiliation-owner {
  color:red;
}
#content .user.user-affiliation-admin {
  color:green;
}
#content .user.user-bot {
  color:#CC9900;
  font-style:italic;
}

#chatList span.success {
  color:green;
}
#chatList span.error {
  color:red;
}
#chatList .message-bot {
  font-style:italic;
}
#chatList .row.delayed .dateTime,
#chatList .row.delayed .log-room {
  color:#aaa;
}

#chatList .row,
#onlineList .row {
  display:none;
}

.user-action {
  font-style:italic;
}

#emoticonsList-pony {
  display:block;
  height:90%;
  margin-top:10%;
  margin-left:10%;
  overflow:auto;
}

/* Status Icon */
#statusIconContainer {
  background-image: url('../img/loading-sprite.png');
}
#statusIconContainer.online {
  background-position: 0px 0px;
}
#statusIconContainer.waiting {
  background-position: 0px -22px;
}
#statusIconContainer.offline {
  background-position: 0px -44px;
}
