div#content span.user-alt-jid,
div#content.display-jid span.user-alt-nick {
  display:none;
}

div#content span.user-alt-nick,
div#content.display-jid span.user-alt-jid {
  display:inline;
}

.user-affiliation-owner {
  color:red;
}
.user-affiliation-admin {
  color:green;
}

/* Status Icon */
#statusIconContainer {
  background-image: url('../img/loading-sprite.png');
}
#statusIconContainer.online {
  background-position: 0px 0px;
}
#statusIconContainer.waiting {
  background-position: 0px -22px;
}
#statusIconContainer.offline {
  background-position: 0px -44px;
}
