# Built files
.config.vars
index.html
lib/
node_modules/
assets/emoticons/
emoticons.js
config.js

# Installed files
img/emoticons/packs
config.custom.js
custom.css

# Project files
nbproject
.patch/
