[submodule "js/lib/strophejs"]
	path = modules/strophe
	url = https://github.com/strophe/strophejs.git
[submodule "js/lib/FileSaver.js"]
	path = modules/filesaver
	url = https://github.com/eligrey/FileSaver.js
[submodule "js/lib/contextmenu"]
	path = modules/contextmenu
	url = https://github.com/medialize/jquery-contextMenu
