.jid-node-sylae .user:not(.user-show-away)  {
  background: url('https://c312441.ssl.cf1.rackcdn.com/chat/img/flair/jid-node-sylae.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-Nalyd .user:not(.user-show-away)  {
  background: url('https://c312441.ssl.cf1.rackcdn.com/chat/img/flair/jid-node-Nalyd.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-Tyran .user:not(.user-show-away)  {
  background: url('https://c312441.ssl.cf1.rackcdn.com/chat/img/flair/jid-node-Tyran.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-Trenton\. .user:not(.user-show-away)  {
  background: url('https://c312441.ssl.cf1.rackcdn.com/chat/img/flair/jid-node-Trenton..png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-ligrev .user:not(.user-show-away)  {
  background: url('https://c312441.ssl.cf1.rackcdn.com/chat/img/flair/jid-node-ligrev.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-Actaeon .user:not(.user-show-away)  {
  background: url('https://c312441.ssl.cf1.rackcdn.com/chat/img/flair/jid-node-Actaeon.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
