.jid-node-sylae.jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-sylae.jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-sylae.jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-nalyd.jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-nalyd.jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-nalyd.jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-tyran.jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-tyran.jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-tyran.jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-trenton\..jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-trenton\..jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-trenton..jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-ligrev.jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-ligrev.jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-ligrev.jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-actaeon.jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-actaeon.jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-actaeon.jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}
.jid-node-pretty\32in\32punk.jid-domain-calref\.net.user-show-default, #chatList .user.jid-node-pretty\32in\32punk.jid-domain-calref\.net {
  background: url('https://cdn.calref.net/chat/img/flair/jid-node-pretty_in_punk.jid-domain-calref.net.png') no-repeat scroll left center transparent;
  padding-left: 20px;
}