#loginContent {
    color: #ffffff;
    background: url("dash/dash-stripe.png") repeat scroll 0 0 #700070;
}
#loginContent h1 {
    color: #ffffff;
}
#loginContent a {
    color: #cccccc;
}
#loginContent input, #loginContent select {
    background-color: #800080;
    color: #ffffff;
}
#loginContent #loginFormContainer #loginButton {
    background-color: #F7F5F1;
    color: #ffffff;
}
#loginContent #errorContainer {
    color: #FFFFFF;
}
#content {
    background: url("dash/dash-stripe.png") repeat scroll 0 0 #700070;
    color: #FFFFFF;
}
#content h1 {
    color: #ffffff;
}
#content a {
    color: #DDDDDD;
}
input[type=text], input[type=password], #content select, #content textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
}
#chatList, .menuContainer, #trayContainer, #bbCodeContainer, #colorCodesContainer, textarea {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #1B1B1F;
}
#content #bbCodeContainer input, #content button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}
#content #colorCodesContainer a {
    border-color: #1d1d1d;
}

.row:nth-child(even) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.row:nth-child(odd) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

#content .guest {
    color: gray;
}
#content .user {
    color: #FFFFCC;
}
#content .moderator {
    color: #5BBB47;
}
#content .admin {
    color: #EE3F44;
}
#content .chatBot {
    color: #F4F4AE;
}
#content #chatList .chatBotErrorMessage {
    color: red;
}
#content #chatList a {
    color: #CCCCCC;
}
#content #chatList .deleteSelected {
    border-color: red;
}
#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
    background: rgba(0,0,0,0.1);
    color: #32CD32;
}
#content #onlineListContainer #onlineList, #content #helpContainer #helpList, #content #settingsContainer #settingsList, #content #settingsContainer #poniconList {
    background: url("dash/cutie-dash.png") no-repeat bottom;
}
