#content {
  background-color: #2a112f;
  color: #9765a0;
}
a { color: #dA83a1 }
input[type=text], input[type=password], select, button {
  border: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0px;
}
input, select, textarea, .box, #chatList {
  background-color: rgba(0,0,0,0.5);
  color: #9765a0;
}
button {
  background-color: #461124;
  color: #daabbc;
}
button:hover { background-color: #591e33 }
textarea { border-color: #9765a0 }
#chatList { background: url('Plum/plum.png') no-repeat bottom right }
.menuContainer { background: url('Plum/plum2.png') no-repeat bottom left }
h3, .author { color: #cda6d2 }
.row.delayed .log-room, .row.delayed .dateTime { color: #673570 }
