/* Buttons */
#content button, #loginButton {
  background-color:#0066B9;
  color: #fff;
  border: 1px solid #0066B9;
}
select, #headlineContainer input, textarea {
  border: 1px solid #0066B9;
}

#content {
  background: url("Technetium/bg.png") repeat scroll 0 0 #161616;
  color: #E7E7E7;
}
#content a {
  color: #00ADEE;
  text-decoration: none;
}
#content #chatlist a {
  color: #00adee !important;
}
#content a:hover {
  transition: all 0.1s ease-in 0s;
  color: #00ADEE !important;
  text-decoration: underline;
  text-shadow: 0 0 3px #00ADEE;
}
input[type=text], input[type=password], #content select, #content textarea {
  background: none repeat scroll 0 0 #161616;
  border-color: #272727;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 5px 8px rgba(10, 10, 10, 0.75) inset;
  color: #E7E7E7;
}
#content #chatList, #content .menuContainer, #content #bbCodeContainer, #content #colorCodesContainer, #content #emoticonsContainer {
  background: url("Technetium/stripe.png");
  border-color: #272727;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 5px 8px rgba(10, 10, 10, 0.75) inset;
  color: #E7E7E7;
}
button {
  background: none repeat scroll 0 0 #161616;
  border-color: #272727;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 5px 8px rgba(10, 10, 10, 0.75) inset;
  color: #E7E7E7;
}
.row:nth-child(odd):hover {
  box-shadow: 5px 5px 8px 5px rgba(10, 10, 10, 0.75) inset;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
}
.author .user-affiliation-none,
#onlineList .user-affiliation-none {
  color:#E7E7E7;
}
.author {
  color:#E7E7E7;
}
.user-role-bot {
  color:#32cd32;
}
.menuContainer h3 {
  color: #00ADEE !important;
  text-shadow: 0 0 3px #00ADEE;
}
