/*
 * This file describes the default colors for messages.
 */

.user .user-affiliation-owner {
  color:red;
}
.user .user-affiliation-admin {
  color:green;
}
.user .user-role-bot {
  color:#c90;
}

.body.error {
  color:red;
}

.row.delayed .dateTime,
.row.delayed .log-room {
  color:#aaa;
}

.row:nth-child(even) {
  background:rgba(0,0,0,0.1);
}
.row:nth-child(odd) {
  background:rgba(0,0,0,0.5);
}
