#content {
  font-family: sans-serif;
  font-size: 0.9em;
}
h3 { font-size:1.3em }
a { text-decoration:none }
a:hover { text-decoration:underline }
.author { font-weight:bold }
.action, .user-role-bot, .message-bot, .privmsg, #helpList td.code { font-style:italic }
q { font-variant:small-caps }
code {
  font-size:1.2em;
  white-space:pre;
}
