/* Buttons */
#trayContainer button {
  background-repeat:no-repeat;
}
#logoutButton {
  background-image:url('../../img/logout.png');
}
#helpButton {
  background-image:url('../../img/help.png');
}
#poniconButton {
  background-image: url("../../img/ponicons.png");
}
#settingsButton {
  background-image:url('../../img/settings.png');
}
#onlineListButton {
  background-image:url('../../img/users.png');
}
#audioButton {
  background-image:url('../../img/audio.png');
  background-position: 0px 0px;
}
#audioButton.off {
  background-position: 0px 100%;
}
#settingsList input.playback {
  background-image:url('../../img/playback.png');
}

/* Status Icon */
#statusIcon {
  background-image: url('../../img/loading-sprite.png');
  background-position: 0px -44px;
}
#statusIcon.online {
  background-position: 0px 0px;
}
#statusIcon.waiting {
  background-position: 0px -22px;
}

/* Scroll Icon */
#autoScrollIcon {
  background-image:url('../../img/autoscroll.png');
  background-position: 0px 0px
}
#autoScrollIcon.off {
  background-position: 0px 100%;
}

#statusIcon,
#audioButton,
#autoScrollIcon {
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
}

span.hide-message {
  display:inline-block;
  height:10px;
  width:10px;
  background-image:url('../../img/delete.png');
}
