body {
  padding: 0;
  margin: 0;
}
h3 { white-space: nowrap }
#channelContainer,
.menuContainer,
#chatList .row,
#onlineList .row,
#settingsList #settings-textColorClear { display: none }

.row { word-wrap: break-word }
.menuContainer { overflow-x: hidden }

#content {
  position: absolute;
  width: 100%;
  height: 100%;
}
#headlineContainer {
  position: absolute;
  left: 20px;
  top: 15px;
}
#fakeLoginForm { display: inline }

#chatList {
  position: absolute;
  left: 20px;
  right: 230px;
  top: 50px;
  bottom: 115px;
  overflow: auto;
  hyphens: auto;
}
#chatList .row {
  padding: 2px 10px;
  white-space: pre;
}
#chatList img.emote {
  vertical-align: middle;
  margin-bottom: 2px;
}
#chatList cite { margin-right: 5px }

#inputFieldContainer {
  bottom: 58px;
  left: 20px;
  padding-right: 4px;
  position: absolute;
  right: 20px;
  height:48px;
}
#inputField {
  resize: none;
  padding:5px;
  width:100%;
  height:100%;
}
#messageLengthContainer {
  bottom: 58px;
  font-size: 20px;
  position: absolute;
  right: 26px;
}
.menuContainer {
  bottom: 115px;
  right: 20px;
  top: 50px;
  position: absolute;
}
h3 {
  height: 30px;
  padding: 4px 10px;
  margin: 0px;
  text-align: center;
}
.menuContainer div {
  margin: auto;
  bottom: 0;
}
#onlineList div, #emoticonList-pony {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}
#emoticonsList-pony { width: 140px }
#onlineListContainer,
#poniconContainer { width: 200px }
#helpContainer,
#settingsContainer { width: 360px }

#footerContainer {
  bottom: 19px;
  left: 20px;
  padding: 3px;
  position: absolute;
  right: 20px;
}
#footerContainer div { display: inline-block }
#footerContainer #colorCodesContainer {
  bottom: 48px;
  left: 20px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  display: none;
}
#content #colorCodesContainer a {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-color: black;
}
#emoticonsContainer {
  padding: 3px;
  vertical-align:middle;
}
#emoticonsContainer a {
  margin-left: 2px;
  margin-right: 1px;
}
#trayContainer {
  position: absolute;
  right: 0px;
  padding: 3px;
  padding-right: 0px;
}
#trayContainer input,
#trayContainer div {
  display: inline-block;
  margin: 0 2px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

#onlineList a { display:block }
#helpList td, #settingsList td {
  padding: 4px 10px;
  vertical-align: top;
}
#settingsList td { vertical-align: middle }
#settingsList td.setting {
  width: 140px;
  white-space: nowrap;
}
#settingsList input[type=text] { width:100px }
#settingsList #settings-textColor {
  background-color: rgba(255,255,255,0.1);
  width: 75px;
}

#footerContainer #trayContainer div,
#footerContainer #trayContainer input {
  background-color: transparent;
}
#onlineList .user-show-away {
  background: url(../../img/away.png) center right no-repeat;
  padding-right: 20px;
}
