#body {
  background: #aeb;
  background: linear-gradient(135deg,
    #7cd 0%,
    #aeb 40%,
    #99f 60%,
    #ebf 100%
  );
}
a { color: #84f }
body, button, input, select, textarea, .box { color: #206; border: none }
h3 { background: linear-gradient(180deg, rgba(256,256,256,0.8) 0%, rgba(0,0,0,0) 100%) }
.ui-tabs .ui-tabs-nav li { border: none }
.ui-tabs-nav .ui-tabs-active a { color: #206 }
button, input, select, .box, textarea.form-field { background: rgba(255, 255, 255, 0.4) }
.emotion-header { background: rgba(255, 255, 255, 0.5) }
button:hover { background: rgba(0,0,0,0.05) }
button:active { background: rgba(0,0,0,0.2) }
input[type=text], input[type=password] { padding-left: 5px }
.row:nth-child(odd) { background: none }
.context-menu-item.hover { background: #84f }
.dialog { background: rgba(255, 255, 255, 0.6) }
.ui-tabs-nav li { background: rgba(255, 255, 255, 0.3) }
li.ui-tabs-active { background: rgba(255, 255, 255, 0.6) }
