body {
  background: linear-gradient(135deg,
    #363b6c 20%,
    #2f55c3 51%,
    #363b6c 80%
  ) #363b6c;
}
a { color: #adfcf3 }
body, .box, button, input, select, textarea, .ui-tabs-nav li {
  color: #29caac;
  border-radius: 4px;
  border: none;
}
h3 { background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%) }
.box, .ui-tabs .ui-tabs-nav li {
  background-color: rgba(0,0,0, 0.4);
  border: 1px solid rgba(256,256,256,0.3);
}
.ui-tabs .ui-tabs-nav li {
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
  border-bottom: none
}
.ui-tabs li.ui-tabs-active { background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0.15) 100%) }
.dialog, .dialog input, .dialog select, .dialog button, .dialog textarea { box-shadow: 0 0 4px white }
.dialog input[type=checkbox] { box-shadow: none }
select, button, input { background: rgba(0,0,0,0.4) }
option { background: #202341 }
button:hover { background: rgba(0,0,0,0.3) }
button:active { background: rgba(256,256,256,0.1) }
input[type=text], input[type=password] { padding-left: 5px }
.dialog { background-color: rgba(0,0,0, 0.8); }
.context-menu-item.hover { background-color: #363b6c }
