<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div id="header">
            <form>
                <label for="user">User</label>
                <input type="text" id="user" value="christoph" />
                <label for="pass">Password</label>
                <input type="password" id="pass" value="Planar Child Program Cannon" />
                <button id="login" type="button">Connect</button>
            </form>
        </div>
        <div id="main"></div>
        <div id="footer"></div>
    </body>
</html>